{% extends 'events/base.html' %}
{% load static %}
{% block title %}
  {{ event.title }}
{% endblock %}
{% block content %}
  <div class="event-detail">
    <img src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    <h1>{{ event.title }}</h1>
    <h2>
      <a href="{{ event.category.get_absolute_url }}">
        {{ event.category }}
      </a>
    </h2>
    <p class="price">${{ event.price }}</p>
    {{ event.description|linebreaks }}
  </div>
{% endblock %}