{% extends "events/base.html" %}
{% load static %}
{% block title %}
  {% if category %}{{ category.name }}{% else %}Events{% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h3>Categories</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'events:events_list' %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}  
    </ul>
  </div>
  <div id="main" class="events-list">
    <h1>{% if category %}{{ category.name }}{% else %}Events{% endif %}</h1>
    {% for event in events %}
      <div class="item">
        <a href="{{ event.get_absolute_url}}">
          <img src="{% if event.image %}{{ event.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
        <br>
        ${{ event.price }}
      </div>
     {% endfor %} 
  </div>
{% endblock %}